/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 16px/1.5em $body-font;

  @media #{$phone} {
    font-size: 15px;
  }
}

h2 {
  margin: 1rem 0;
  padding-right: 2rem;
  color: $brand-color;
  font-size: 2.4rem;
  font-family: $title-font;
  line-height: 1em;
}

h3 {
  margin: 0 0 0.6rem;
}

p {
  margin: 0 0 $bottom-margin;
}

.subtitle {
  color: $second-color;
  font-size: 1.5rem;
  font-family: $title-font;
  line-height: 1.1em;
}

.react-autosuggest__suggestion {
  color: $mid-grey;
  font-size: 1.2rem;
  font-family: $title-font;
  line-height: 1.1em;
}
