// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
/// @type List
$body-font: 'Montserrat', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Regular font family
/// @type List
$title-font: 'Baloo Bhaina', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;



/// Copy text color
/// @type Color
$text-color: #6a6a6a !default;

/// Main brand color
/// @type Color
$brand-color: rgb(206, 129, 47) !default;

/// Secondary color
/// @type Color
$second-color: rgb(90, 197, 237) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(106, 106, 106) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(51, 51, 51) !default;

/// White
/// @type Color
$white: rgb(255,255,255) !default;





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;


/// Default padding
/// @type Length
$padding-default: 1rem !default;



/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
