// -----------------------------------------------------------------------------
// This file contains all styles related to the background.
// -----------------------------------------------------------------------------

body {
  overflow: hidden;
  background-image: url("/assets/body_bg.jpg");
  background-position: top center;
  background-size: auto 100vh;
  background-repeat: no-repeat;

  @media #{$tablet} {
    background-image: url("/assets/body_bg_mobile.jpg");
    background-size: cover;
  }

  &::before,
  &::after {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    background-repeat: no-repeat;
    content: '';
    transition: transform ease-out 2s;
    // transform: translateY(0);
    transform: translateY(100vh);
  }

  &::before {
    bottom: 0;
    height: calc(100% - #{$header-height-desktop});
    border: 10px solid white;
    background-color: rgba(198,120,43,1);
    background-image: linear-gradient(to bottom, rgba(227,160,57,1) 0%, rgba(198,120,43,1) 100%);
    background-size: 100% calc(100vh - #{$header-height-desktop});

    @media #{$tablet} {
      height: calc(100% - #{$header-height-tablet});
      background-size: 100% calc(100vh - #{$header-height-tablet});
    }

    @media #{$phone} {
      height: calc(100% - #{$header-height-phone});
      background-size: 100% calc(100vh - #{$header-height-phone});
    }
  }

  &::after {
    top: 0;
    height: $header-height-desktop;
    background-image: url("/assets/bubbles.svg");
    background-size: auto $header-height-desktop;

    @media #{$tablet} {
      height: $header-height-tablet;
      background-size: auto $header-height-tablet;
    }

    @media #{$phone} {
      height: $header-height-phone;
      background-size: auto $header-height-phone;
    }
  }

  &.bg::before,
  &.bg::after {
    transform: translateY(0);
  }
}

#app {
  opacity: 0;
  transition: opacity linear 0.3s;
}
