// -----------------------------------------------------------------------------
// This file contains all styles related to the bar details.
// -----------------------------------------------------------------------------

.map {
  height: 300px;
  width: 100%;

  @media #{$phone} {
    height: 250px;
  }
}

p.address {
  margin-bottom: 0;
}

.phoneNumber {
  font-weight: bold;

  a {
    font-weight: normal;
  }
}
