// -----------------------------------------------------------------------------
// This file contains all styles related to the bar view brew list.
// -----------------------------------------------------------------------------

.brewFilterList {
  margin-bottom: 1rem;

  li {
    float: left;
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;

    @media #{$phone} {
      margin-bottom: 6px;
    }

    &:first-child {
      color: $mid-grey;
      font-weight: bold;
      padding: 0.2rem 0;
    }

    &:not(:first-child) {
      padding: 0.2rem 0.4rem;
      background-color: $dark-grey;
      color: $white;
      cursor: pointer;

      &:hover,
      &.activeBrew {
        background-color: $second-color;
        color: $white;
      }
    }

    &.brewFilter-lager { background-color: $lager; }
    &.brewFilter-pilsner { background-color: $pilsner; }
    &.brewFilter-honey { background-color: $honey; }
    &.brewFilter-dark { background-color: $dark; }
    &.brewFilter-light { background-color: $light; color: $dark-grey; }
    &.brewFilter-english { background-color: $english; }
    &.brewFilter-stout { background-color: $stout; }
    &.brewFilter-ipa { background-color: $ipa; }
    &.brewFilter-pale { background-color: $pale; color: $dark-grey; }
    &.brewFilter-amber { background-color: $amber; }
    &.brewFilter-seasonal { background-color: $seasonal; }
    &.brewFilter-bitter { background-color: $bitter; }
    &.brewFilter-cider { background-color: $cider; }
    &.brewFilter-fruit { background-color: $fruit; }
    &.brewFilter-white { background-color: $white-beer; color: $dark-grey; }
  }

}
