// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button {
  padding: $padding-default;
  border: none;
  border-radius: 10px;
  background: $second-color;
  color: $white;
  cursor: pointer;

  &:hover {
    background: $dark-grey;
  }

  &:focus {
    outline: none;
  }
}

.mainSearch-button {
  margin: 0 0.8rem;
  font-size: 1.2rem;
  line-height: 1.5em;

  &:last-of-type {
    margin-right: 0;
  }

  @media #{$tablet} {
    display: block;
    float: left;
    margin: 0 2% 0 0;
    width: 32%;
  }

  @media #{$phone} {
    float: none;
    margin: 0 0 1rem 0;
    width: 100%;
  }
}

.mainSearch-button_active {
  background: $dark-grey;
}

.mainSearch.barViewOpen {
  .mainSearch-button {
    display: block;
    float: left;
    margin: 0 2% 0 0;
    width: 32%;

    &:last-of-type {
      margin: 0;
    }

    @media #{$tablet} {
      display: block;
      float: left;
      margin: 0 2% 0 0;
      width: 32%;
    }

    @media #{$phone} {
      float: none;
      margin: 0 0 1rem 0;
      width: 100%;
    }
  }
}
