// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button {
  padding: $padding-default;
  border: none;
  border-radius: 10px;
  background: $second-color;
  color: $white;
  cursor: pointer;

  &:hover {
    background: $dark-grey;
  }

  &:focus {
    outline: none;
  }
}

.mainSearch-button {
  margin: 0 0.8rem;
  line-height: 1.5em;
  font-size: 1.2rem;

  &:last-of-type {
    margin-right: 0;
  }
}

.mainSearch-button_active {
  background: $dark-grey;
}

.mainSearch.barViewOpen {
  .mainSearch-button {
    display: block;
    width: 32%;
    margin: 0 2% 0 0;
    float: left;

    &:last-of-type {
      margin: 0;
    }
  }
}
