// -----------------------------------------------------------------------------
// This file contains all styles related to the form fields.
// -----------------------------------------------------------------------------

input {
  border: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.mainSearch {
  .mainSearch-prompt {
    color: $white;
    text-align: center;
    font-weight: bold;
  }

  fieldset {
    z-index: 2;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    background: $white;

    .react-autosuggest__suggestions-container {
      .react-autosuggest__suggestions-list {
        display: flex;
        margin: 0;
        padding: 0;

        flex-flow: row wrap;
        align-items: stretch;
      }

      .react-autosuggest__suggestion {
        display: block;
        margin: 0;
        padding: $padding-default $padding-default 0.6rem;
        list-style: none;
        cursor: pointer;

        flex: 0 1 33.333%;

        div {
          display: flex;

          flex-flow: row nowrap;
          align-items: center;
        }

        &:hover {
          background-color: $second-color;
          color: $white;
        }

        .suggestion-image {
          display: block;
          margin: -7px 5px 0 0;
          height: 1.5em;
        }

        span {
          display: block;

        }
      }
    }

    .react-autosuggest__suggestions-container--open {
      margin-bottom: 1.1rem;
    }

    .no-suggestions {
      padding: $padding-default;
    }
  }

  .mainSearch-input {
    display: block;
    padding: 1.4rem $padding-default;
    width: 100%;
    color: $mid-grey;
    font-size: 1.6rem;

    &:focus {
      outline: none;
      box-shadow: 0 0 10px rgba(81, 203, 238, 1);
    }
  }
}

.mainSearch.barViewOpen {
  .mainSearch-prompt {
    .mainSearch-prompt_text {
      display: block;
      margin-bottom: 1rem;
      width: 100%;
      text-align: center;
    }

    span:not(.mainSearch-prompt_text) {
      display: none;
    }
  }

  fieldset .react-autosuggest__suggestions-container .react-autosuggest__suggestion {
    flex: 0 1 50%;
  }
}
