// -----------------------------------------------------------------------------
// This file contains all styles related to the logo.
// -----------------------------------------------------------------------------

.logo-container {
  max-width: 50%;
  margin: 60px auto;
  opacity: 1;
}
