// -----------------------------------------------------------------------------
// This file contains all styles related to the logo.
// -----------------------------------------------------------------------------

.logo-container {
  flex: 1 0 100%;
  margin: 60px auto;
  opacity: 1;

  img {
    max-width: 50%;
    margin: 0 25%;
  }
}
