// -----------------------------------------------------------------------------
// This file contains all styles related to the logo.
// -----------------------------------------------------------------------------

.logo-container {
  flex: 1 0 100%;
  margin: 60px auto;
  opacity: 0.05;

  img {
    max-width: 50%;
    margin: 0 25%;

    @media #{$tablet} {
      max-width: 66%;
      margin: 0 16%;
    }

    @media #{$phone} {
      max-width: 80%;
      margin: 0 10%;
    }
  }

  @media #{$phone} {
    margin: 60px auto 30px;
  }
}
