// -----------------------------------------------------------------------------
// This file contains all styles related to the bar view
// -----------------------------------------------------------------------------

.barView {
  position: relative;
  padding: $padding-default 1.5rem;
  border-radius: 10px 10px;
  background-color: $white;
  margin-bottom: 4rem;

  flex-basis: 48%;

  @media #{$tablet} {
    flex-basis: 90%;
    order: 1;
  }

  @media #{$phone} {
    padding: 2.5rem 0.8rem $padding-default;
  }

  .closeButton {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.4rem 1rem 0.6rem;
    font-size: 1.6rem;
  }
}
